<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Hacking Snacking</title>
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans|Abril+Fatface' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Cabin' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,900,200italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{url_for('static', filename='css/meyerweb-reset.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/cf.css')}}">
    {# <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}"> #}
    <link rel="shortcut icon" href="{{url_for('static', filename='img/utensils.ico')}}" />
    <link rel="stylesheet/less" type="text/css" href="{{url_for('static', filename='less/style.less')}}" />
    <script src="{{url_for('static', filename='js/less.js')}}" type="text/javascript"></script>
    <script src="{{url_for('static', filename='js/trie.js')}}" type="text/javascript"></script>
    <script src="{{url_for('static', filename='js/searchbox.js')}}" type="text/javascript"></script>
  </head>
  <body>
    <div id="header-background">
      <header>
        <hgroup class="cf">
        <p><img src="{{url_for('static', filename='img/utensils.svg')}}" /></p>
          <h1>Hacking Snacking</h1>
          <h2>"Which restaurants on discount will actually make my tummy quite happy?"</h2>
        </hgroup>
        {% include 'feedback.html' %}

        <nav id="search">
          <table>
            <tr>
                <td><img src="{{url_for('static', filename='img/mag.svg')}}" /></td>
							<td><input id="search-field" placeholder="Try typing: Italian, Bars, Desserts, etc." type="text" oninput="filterList()"/></td>
            </tr>
          </table>
        </nav>
      </header>
    </div>
    <div id="content-background" class="cf">      
      <div class="content-container cf" >
        {% block content %}{% endblock %}
      </div>
    </div>
    <footer><p>This is a site built in HTML5, CSS3, Python, and Flask. It uses <a href='http://www.google.com/fonts/#ChoosePlace:select/Collection:Droid+Sans|Lato'>Google Web Fonts</a>, <a href="#">Subtle Patterns</a> and <a href="#">a noun from the noun project</a>. If you would like a custom site built, designed, or both contact dlichte5 [at] jhu [dot] edu.<p></footer>
  </body>
</html>
